/*Base styles*/
 @font-face {
  font-family: "avenir";
  src: url(./Metropolis-Light.otf);
 }
body {
   font-family: "avenir"; 
   
   
 }

.logo {
    position: absolute;
    width: 10%;
    top: 0;
    left: 0;
}



/*Layout styles*/
 nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}
a {
    text-decoration: none;
}
a:hover{
    color: rgb(94, 235, 101);
    
}
nav li {
  display: inline-block;
  margin-top: 0;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0;
  
  
}
.tour_button {
  background-color: blue;
  text-decoration: none ;
  color: white;
  padding: 0.5rem;
  border-radius: 6px;
  width: 90%;
  text-align: center;
  display: inline-block;
}
 .tour_button:hover {
    background: lightgreen;
    color: white;
 }
 section {
     width: 100%;
    
 }

 footer{
    width: 100%;
    height: 1000px;
    display: block;
    text-align: center;
    margin-top: 5%;
    border-top: rgb(247, 247, 247) solid 2px;
 }
/*Block styles*/
.hero{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}
.hero h1, h2 {
    text-align: center;
    color: rgb(31, 31, 94);
    
}
.hero h1 {
     font-size: 400%;
     color: rgb(31, 31, 94);
}
.hero h2 {
   font-weight: 100;
  font-size: 210%;
  margin-bottom: 5%; 
}
iframe{
  width: 90%;
  height: 50rem;
  margin-bottom: 5%;
}



.quotes {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    height: 20rem;
    
}
.quotes h3{
    text-align: left;
    float: right;
    margin-right: 20%;
    margin-top: 6%;
    color: rgb(31, 31, 94);
    
    

}
.quotes img {
    width: 10%;
    margin: 5% 0%;
    
    
}

#quotes_1 {
    width: 50%;
    height: 20rem;
    
    
    
}
#quotes_2 {
    width: 50%;
    height: 20rem;
    
    
}

.programs {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    align-items: center;
    
    
}
.programs button {
    background-color: transparent;
    border:lightgrey solid 1px;
    color:rgb(56, 3, 248);
    font-size: 110%;
    width: 50%;
    height: 10%;
    border-radius: 12px;
     cursor: pointer;
     box-shadow:  1px 6px 10px 1px lightgrey;
     margin-top: 5% ;
     
}
.programs button:hover {
    background-color: rgb(56, 3, 248);
    color: white;
}
#programs_date {
    width: 30%;
    margin-top: 1em ;
    box-shadow:  1px 10px 10px 1px lightgrey;
    
    
    
    
}
#programs_SE {
width: 33.3%;
height: 35em;
color: rgb(31, 31, 94);

}
#programs_UX {
width: 33.3%;
height: 35em;
color: rgb(31, 31, 94);

}
#programs_DM {
width: 33.3%;
height: 35em;
color: rgb(31, 31, 94);
}
 
.compare {
    display: inline-block;
    width: 100%;
    height: 20em;
    background: rgb(230, 230, 230);
   
    
}
.compare > button {
    width: 20%;
    height: 15%;
    position: relative;
    left: 40%;
    top: 15%;
    font-size: 100%;
    background-color:rgb(112, 156, 250);
    color: white;
    border: none;
    border-radius: 12px ;
    cursor: pointer;
    box-shadow:  1px 10px 10px 1px lightgrey;
}

.compare button:hover {
    background-color: rgb(56, 3, 248);
    color: white;
}
.compare > h1 {
    font-size: 250%;
    text-align: center;
    margin-top: 3%;
    color: rgb(31, 31, 94);
}
.bio {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.3% 33.3% 33.3% ;
 
    width: 100%;
    height: 1500px;
}
#bio_txt {
    grid-column: 1/5;
    text-align: center;
    font-size: 150%;
    margin-top: 2%;
    color: rgb(31, 31, 94);
}
#bio_txt a {
    text-decoration: none;
    color: blue;
}
#bio_txt a:hover{
    color: lightgreen;
}
.profile {
    width: 80%;
    transition: all .2s ease-in-out; 

}
.profile:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#staff_team {
    font-size: 150%;
    color: rgb(31, 31, 94);
    text-align: center;
}
#staff_board{
    font-size: 150%;
    text-align: center;
    color: rgb(31, 31, 94);
}
#staff_mentors {
    font-size: 150%;
    text-align: center;
    color: rgb(31, 31, 94);
}
#staff_advisors {
    font-size: 150%;
    text-align: center;
    color: rgb(31, 31, 94);
}

#students_txt {
  grid-column: 2fr/5; 
  justify-self: center;
  font-size: 150%;
  align-self: center;
  color: rgb(31, 31, 94);

 
  
 
}
#student_vid {
    grid-column: 1/3; 
  justify-self: center;
  align-self: center;
  width: 30%;
  
}
.vid {
    width: 200%;
    height: 300px;
    margin-top: 10%;
}

    
footer{
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 18%, rgba(184,184,184,1) 100%);
}

footer> h1 {
    font-size: 300%;
    margin-top: 10%;
    color: rgb(31, 31, 94);
}
footer> p{
    font-size: 200%;
    color: rgb(31, 31, 94);
}
.contact{
    display: grid;
    grid-template-columns: 45% 5% 45%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    width: 30%;
    align-self: center;
    
    
    
}
#fname {
    grid-column: 1/2;

}
#lname {
    grid-column: 3/4;
    
}
#email{
    grid-column: 1/4;
}
#phone{
    grid-column: 1/4;
}
#submit_button{
    grid-column: 4fr/6fr;
    background-color: rgb(89, 133, 253);
    border: none;
    color: rgb(255, 255, 255) ;
    font-size: 100%;
    margin-left: 55%;
    margin-top: 5%;
    cursor: pointer;
    box-shadow:  1px 10px 10px 1px rgb(156, 156, 156);
    border-radius: 12px;
    
}
#submit_button:hover{
    background-color: rgb(56, 3, 248);
    color: white;
}
fieldset{
    width: 100%;
    display: FLEX;
    justify-content: center;
    border: none;
    margin-top: 3%;
}
input {
    padding: 10px;
    width: 100%;
    border: lightgrey solid 2px;
    
  
}
::placeholder{
    color: rgb(190, 188, 188);
}
@media only screen and (min-width: 2200px) {
    .quotes h3 {
        font-size: 180%;
        width: 60%;
    }
    .quotes img {
        margin-left: 5%;
    }
}
@media only screen and (max-width: 2200px) {
    .quotes h3 {
        font-size: 150%;
        width: 60%;
        }
        .quotes img {
        margin-left: 5%;
    }
        
}
@media only screen and (max-width: 700px) {
    nav{
        width: 100%;
        font-size: 86%;
    }
    section {
        font-size: 50%;
    }

    iframe{
        width: 100%;
        height: 500px;
    }

    h1{
        font-size: 80%;
    }
    .contact {
        width: 100%;
    }
     .programs {
         flex-flow: column nowrap;
         width: 100%;
         align-items: center;
         height: 1700px;
         font-size: 200%;
         
        
    }
    .programs button{
        font-size: 60%;
    }
    #programs_date {
        width: 50%;
        margin-top: 10%;

    }
    #programs_SE {
        border-bottom: lightgrey solid 3px;
        width: 100%;
    }
    #programs_UX {
        border-bottom: lightgrey solid 3px;
        width: 100%;
    }
    #programs_DM {
         border-bottom: lightgrey solid 3px;
        width: 100%;
    }
    .compare {
        height: 40em;
    }
    .compare h1 {
        font-size: 400%;
        margin-top: 10%;
    }
    .compare button {
        width: 50%;
        font-size: 200%;
        margin-left: -14%;
    }

    .bio h1, p {
        font-size: 130%;
    }
    .vid {
        width: 100%;
        height: 300px;
        justify-self: center;
        
    }

   
    fieldset {
        margin-left: -1.5%;
        
    }

    .quotes img {
        display: none;
    }

    .quotes {
        font-size: 130%;
        display: grid;
        width: 100%;
        text-align: center;
        height: 100%;
        justify-content: center;
        
        
        
    }
    #quotes_1 h3, #quotes_2 h3 {
        text-align: center;
      width: 90%;
      margin-right: 5%;
        
    }
    
    #quotes_1{
        width: 100%;
        
       
        
    }
    #quotes_2{
        width: 100%;
        border-top: lightgrey solid 3px;
    }
    .bio {
        display: grid;
        grid-template-columns: 50% 50%;
      
        height: 1500px

    }
    #bio_txt {
        grid-column: 1/3;
        grid-row: 1/1 ;
        height: 100%;
        font-size: 200%;
        margin: 5%
    
    
    }

    #staff_team {
        grid-column: 1/3;
        font-size: 350%;
        
        margin-top: 0%;
       
    }
    #staff_board {
        grid-column: 1/3;
         font-size: 350%;
         
       
        
    }

    #staff_mentors {
        grid-column: 1/3;
         font-size: 350%;
        
         margin-top: 10%;
         margin-bottom: -0%;
    }
    #staff_advisors {
        grid-column: 1/3;
       margin-top: 35%;
       margin-bottom: 0%;
        border-bottom: 2px solid lightgrey;
         font-size: 350%;
    }
#student_vid {
    grid-column: 1/3;
    width: 100%;
}
#students_txt {
    grid-column: 1/3;
    justify-self: center;
    width: auto;
    text-align: center;
    font-size: 190%;
    margin-left: -1%;
     
    
    
}
footer {
    margin-top: 320%;
}
}

@media only screen and (max-width: 380px) {
    
       nav ul{
           display: flex;
            width: 100%;
            flex-flow: row nowrap;
            align-items: center;
            margin-top: 5%;
            
            
       } 
   
      
    
    .tour_button {
     padding: 0.5rem;
     width: 50px;
     font-size: 10px;
     margin: 0;
    }
  
    
    nav {
        font-size: 80%;
        width: 100%;
        
    }
   
    footer {

    margin-top: 400%;
    font-size: 50%;
    width: 100%;
    
}
.contact {
    width: 80%;
} 
#student_vid {
    width: 100%;
}
#quotes_2 {
    border-top: lightgrey solid 3px;
}
}